.forecast-trihourly-summary {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  border-left: 4px solid var(--white-blue);
  text-align: center;
}

.forecast-trihourly-summary:first-child {
  border-left: none;
}

.forecast-trihourly-summary > p {
  font-size: min(1rem, 2cqw);
  text-shadow: 1px 1px 2px var(--almost-white);
}

.forecast-trihourly-summary__icon {
  font-size: min(4rem, 5cqw);
}