.forecast-daily-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 16%;
  padding-top: 5px;
  margin: 0 0.5%;
  border-radius: 4px;
  background-image: linear-gradient(-8deg, var(--dark-blue), var(--medium-blue));  
  text-align: center;
}

.forecast-daily-summary > p {
  font-size: min(1.2rem, 1.8cqw);
  color: var(--almost-white);
  text-shadow: 1px 1px 2px var(--almost-black);
}

.forecast-daily-summary__icon {
  font-size: min(4rem, 5cqw);
}

.forecast-daily-summary__more-details {
  all: unset;
  width: 80%;
  max-width: 120px;
  padding: 5px 0;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: var(--almost-white);
  font-size: min(1rem, 1.7cqw);
  font-weight: 600;
  transition-duration: 100ms;
  cursor: pointer;
}

.forecast-daily-summary__more-details:hover {
  box-shadow: var(--box-shadow-white);
  background-color: white;
}

@media (min-width: 600px) {
  .forecast-daily-summary br {
    display: none;
  }
}