.forecast-daily-summary {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  border-left: 4px solid var(--light-blue);
  border-bottom: 4px solid var(--light-blue);
  width: 100%;
  padding-top: 5px;
}

.forecast-daily-summary:first-child {
  border-left: none;
}

.forecast-daily-summary__date {
  font-size: 1rem;
}

.forecast-daily-summary__icon {
  font-size: min(4rem, 5vw);
}

.forecast-daily-summary__description {
  font-size: min(1rem, 2.5vw);
}

.forecast-daily-summary__temp {
  font-size: min(1rem, 2.5vw);
}

.forecast-daily-summary__more-details {
  all: unset;
  width: 100%;
  padding: 5px 0;
  border-top: 4px solid var(--light-blue);
}

@media screen and (max-width: 780px) {
  .forecast-daily-summary__date {
    width: 50px;
  }
}