.forecast-trihourly-summary {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-left: 4px solid var(--white-blue);
  padding-bottom: 5px;
  padding-top: 5px;
}

.forecast-trihourly-summary:first-child {
  border-left: none;
}

.forecast-trihourly-summary__time {
  font-size: min(1rem, 3vw);
}

.forecast-trihourly-summary__icon {
  font-size: min(4rem, 5vw);
}

.forecast-trihourly-summary__description {
  font-size: min(1rem, 2vw);
}

.forecast-trihourly-summary__temp {
  font-size: min(1rem, 2.5vw);
}


@media screen and (max-width: 780px) {
  .forecast-trihourly-summary__date {
    width: 50px;
  }
}