.forecast-breakdown {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px;
}

.forecast-breakdown__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forecast-breakdown__left h3, .forecast-breakdown__left h3 + p {
  display: inline;
}

.forecast-breakdown__left > div > * {
  font-size: min(1.3rem, 3vw);
}

.forecast-breakdown__temp {
  font-size: min(7rem, 15vw);
}

.forecast-breakdown__right i {
  font-size: min(13rem, 20vw);
}

.forecast-breakdown__right p {
  font-size: min(2rem, 2.5vw);
  font-weight: bold;
  color: white;
  text-shadow: var(--shadow-black);
}