.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 10px 0;
  background-color: var(--medium-blue);
}

.search-form__search {
  height: 25px;
  width: 100%;
  max-width: 600px;
  margin: auto 10px;
  background-color: white;
}

.search-form__search input {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 65px);
  padding: 5px;
  font-size: 1.2rem;
}

.search-form__search button {
  all: unset;
  height: 100%;
  width: 65px;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  vertical-align: top;  
  background-color: var(--dark-blue);
  color: var(--almost-white);
  text-shadow: none;
  cursor: pointer;
}

.search-form__radio {
  width: 200px;  
  height: 100%;
  margin-left: 20px;
  text-align: center;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__radio > h3 {
  color: rgb(241, 241, 241);
}

.search-form__radio__label {
  color: rgb(241, 241, 241);
  position: relative;
  top: 2px;
}

.search-form__radio > div {
  display: flex;
  justify-content: space-between;
}

.search-form__radio input {
  position: relative;
  top: 1px;  
  margin-left: 5px;
  cursor: pointer;
}