.search-form {
  height: 25px;
  width: calc(100% - 50px);
  max-width: 600px;
  margin: auto 0;
  border: 1px solid var(--almost-white);
  border-radius: 2px;
  background-color: var(--almost-white);
  overflow: hidden;
}

.search-form input {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 65px);
  padding: 5px;
  font-size: 1.2rem;
}

.search-form button {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  width: 65px;
  background-color: var(--medium-blue);
  color: var(--almost-white);
  font-size: 1rem;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  transition-duration: 200ms;
}

.search-form button:hover {
  background-color: var(--dark-blue);
}