:root {
  --top-bar-height: 60px;
  --top-bar-border: 2px solid var(--dark-blue);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: var(--top-bar-height);  
  padding: 10px 10px;
  border-bottom: var(--top-bar-border);
  background-color: var(--medium-blue);
}
