:root {
  --top-bar-height: 60px;
  --top-bar-border: 4px solid rgb(65, 113, 140);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 10px;
  height: var(--top-bar-height);
  background-color: var(--medium-blue);
  border-bottom: var(--top-bar-border);
}
